body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url("./images/nen.jpg");
  }
  ol, ul {
    padding-left: 30px;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  .status {
    margin-bottom: 10px;
  }
  .square {
    background: rgb(243, 233, 91);
    border: 1px solid #000000;
    float: left;
    font-size: 35px;
    font-weight: bold;
    line-height: 36px;
    height: 39px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 39px;
  }
  .square:focus {
    outline: none;
  }
  .square:hover {
   
    background:  #00FFFF;
    
  }
  .kbd-navigation .square:focus {
    background: rgb(204, 8, 8);
  }
  .game {
    display: flex;
    width: 100%;
  }
  .game-info {
    margin-top:85px;
  }
  li.selected {
    font-weight: 600;
  }
  h1 {
    font-family: "Gloria Hallelujah", cursive;
  }
  .game-board{
    display: inline-block;
    width:  100%;
    text-align: center;
    width: 80%;

  }
  .game-board-box{
    display: flex;
    width:  100%;
    justify-content: center;
  }
  .game-info{
    display: inline-block;
  }